You have forgotten your password! Enter your email below.

<form method="POST">
    <input type="email" name="email" placeholder="email@google.com" />
    <button type="submit">Submit</button>
</form>